@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:focus { outline: none; }
::-webkit-scrollbar { display: none; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 1em 'Rubik'; }

html, body {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background: #f5f5f7;
    color: #282828;
    overflow: hidden; 
    display: flex;
    flex-direction: column; }

a { 
    cursor: pointer;
    text-decoration: none; 
    color: #678DB2; }
b { font-weight: 500; }

/*--------------------
    Header
--------------------*/
header {
    display: flex; align-items: center; justify-content: center;
    width: 85%;
    margin: auto;
    color: #f5f5f7; }

/*--------------------
    Navegação
--------------------*/
nav {
    position: fixed;
    bottom: 40px;
    right: 40px; }

nav button {
    display: flex; align-items: center;  justify-content: center;
    height: 60px;
    width: 60px;
}

nav i { 
    font-size: 20px;
    pointer-events: none;
}

/*--------------------
    Main
--------------------*/
main {
    flex: 1; 
    display: flex; align-items: center; justify-content: flex-start; flex-flow: column; gap: 10px;
    padding-bottom: 60px; }

input,
button {
    display: flex; align-items: center; flex-direction: row-reverse; gap: 10px;
    height: 35px; 
    border-radius: 2px;
}

input { 
    padding: 0px 5px;
    border: solid 1px #cccccc; }
input:hover {
    transition: 2s;
    border: solid 1px #678DB2; }

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #282828;
    background: #e2e2e2; }

button:hover { 
    transition: .5s;
    background: #cccccc; }


/*--------------------
    Overlay
--------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 2; }

/*--------------------
    Modal
--------------------*/
.modal {
  position: fixed;
  z-index: 3;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex; flex-direction: column;
  overflow: hidden;
  width: 95%;
  max-width: 650px;
  max-height: 500px;
  background: #f5f5f7;
  border-radius: 5px; }
.mHeader {
  display: flex; align-items: center; gap: 10px;
  padding-left: 40px;
  height: 50px;
  font-weight: bold;
  font-size: 20px; }
.mBody { 
    flex: 1; 
    margin: 0px 15px }
.mFooter {
    display: flex; align-items: center; justify-content: center; gap: 10px;
    height: 50px; }
.mFooter i { 
    padding: 10px;
    font-size: 20px; }

/*--------------------
    Overlay Confirm
--------------------*/
.overlayConfirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 4; }

/*--------------------
    Confirm
--------------------*/
.confirm {
    position: fixed;
    z-index: 5;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex; flex-direction: column;
    overflow: hidden;
    width: 80%;
    max-width: 400px;
    background: #f5f5f7;
    border-radius: 5px;
}
.cBody {
    display: flex; align-items: center; flex-flow: column; gap: 10px;
    padding: 10px; }
.cFooter {
    display: flex; align-items: center; justify-content: center; gap: 10px;
    height: 50px;  }
.cFooter i { 
    padding: 10px;
    font-size: 20px; }

/*--------------------
    Button Add
--------------------*/
.add {
    padding: 30px;
    position: fixed;
    bottom: 40px;
    left: 40px; }


/*--------------------
    Anotações
--------------------*/
.menuNotas {
    display: flex; align-items: center; justify-content: center; flex-flow: row wrap; gap: 10px;
    max-width: 600px;
    padding: 20px; }

.nota {
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    background: #e2e2e2; }

.nota:hover { 
    transition: .5s;
    background: #cccccc; }

.editor {
    border: solid 1px #cccccc;
    overflow: hidden;
    overflow-y: scroll;
    height: 350px;
    padding: 5px; }

.editor::-webkit-scrollbar  { display: block; width: 5px; }
.editor::-webkit-scrollbar-track { background: #00000080; }
.editor::-webkit-scrollbar-thumb { background: #282828; }

/*--------------------
    Categorias
--------------------*/
.categoriaHeader {
    display: flex; flex-flow: row wrap; align-items: center; gap: 2px;
    padding-left: 10px; }

.categoriaBody {
    padding: 5px;
}

.categoria  {
    cursor: pointer;
    padding: 10px 15px;
    background: #e2e2e2;
    border-radius: 10px 10px 0px 0px;
    border-top: solid 4px #cccccc; }

.categoria:hover { 
    transition: .5s;
    border-color: #678DB2; }

.categoria.ativo {
    cursor: default;
    background: #f5f5f7; 
    border-color: #678DB2; }









@media screen and (max-height: 480px) {
    .editor { height: 180px; }
    .add { display: none; }
    .gerencial { display: none; }
}